.page-about
  background #099ff1

  .about-title
    max-width 1415px
    min-height 48px
    margin 220px auto 40px auto
    color #fff
    text-align center
    font-size 48px

  .about-description
    max-width 1415px
    min-height 19px
    margin 40px auto 100px auto
    color #fff
    text-align center
    font-family 'Futura Std', sans-serif
    font-size 19px
    line-height 1.5em

    a
      color #fff
      text-decoration none

  .edit-single,
  .edit-mult
    &:after
      margin 0 auto
      position static
      display inline-block

  .btn-add-image
    margin 0 auto 45px auto
    display block

  .about-images
    text-align center
    li
      width 100%
      position relative

      img
        max-width 100%
        margin 0 auto
        display block

      .btn-remove-image
        position absolute
        top 0
        right 55px