@font-face {
  font-family: 'Futura Std';
  src: url('/fonts/futura-std/Futura-Std-Book_19044.eot'); /* IE9 Compat Modes */
  src: url('/fonts/futura-std/Futura-Std-Book_19044.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/futura-std/Futura-Std-Book_19044.woff') format('woff'), /* Modern Browsers */
       url('/fonts/futura-std/Futura-Std-Book_19044.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/fonts/futura-std/Futura-Std-Book_19044.svg#db02aa682b3e193ac55da3558b4b0d6e') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  400;
}
