@font-face {
  font-family: 'Futura Std';
  src: url('/fonts/futura-std/Futura-Std-Book_19044.eot');
  src: url('/fonts/futura-std/Futura-Std-Book_19044.eot?#iefix') format('embedded-opentype'),
       url('/fonts/futura-std/Futura-Std-Book_19044.woff') format('woff'),
       url('/fonts/futura-std/Futura-Std-Book_19044.ttf')  format('truetype'),
       url('/fonts/futura-std/Futura-Std-Book_19044.svg#db02aa682b3e193ac55da3558b4b0d6e') format('svg');

  font-style:   normal;
  font-weight:  400;
}
