@font-face {
  font-family: 'Futura Bold';
  src: url('/fonts/futura-bold/FuturaStd-Bold 2.eot');
  src: url('/fonts/futura-bold/FuturaStd-Bold 2.eot?#iefix') format('embedded-opentype'),
       url('/fonts/futura-bold/FuturaStd-Bold 2.woff') format('woff'),
       url('/fonts/futura-bold/FuturaStd-Bold 2.ttf')  format('truetype'),
       url('/fonts/futura-bold/FuturaStd-Bold 2.svg#e6614ac1ffeb97962de474601fd3ce1d') format('svg');
       
  font-style:   normal;
  font-weight:  700;
}

