meyer-reset()
box-sizing-reset()
normalize()

html,
body
  font-family 'Futura Bold', sans-serif

.hidden
  display none !important

.msg
  text-align center
  margin-top 100px

  &.error
    color red

#app-body
  width 100%
