base-width = 435px

.job-thumb
  size 100%
  margin 0
  padding 0
  relative false
  -webkit-column-break-inside:avoid;
  -moz-column-break-inside:avoid;
  -o-column-break-inside:avoid;
  -ms-column-break-inside:avoid;
  column-break-inside:avoid;
  -webkit-backface-visibility:hidden;
  opacity 0
  transition opacity 0.3s ease-in-out

  &.loaded
    opacity 1

  &.square
    max-width base-width
    max-height base-width
  &.rectangle
    max-width base-width
    max-height (base-width * 2)
    
  &:hover .job-thumb-description
    opacity 1

  .job-thumb-image
    max-width base-width
    width 100%
    display block

  .job-thumb-description
    background rgba(0, 0, 0, 0.6)
    size 100%
    padding 10px
    absolute 0
    color #fff
    opacity 0
    transition opacity 0.3s ease-out
    
    .align-table
      size 100%
      display table
    .align-table-cell
      size 100%
      display table-cell
      vertical-align middle

    .job-thumb-name,
    .job-thumb-client
      max-width 350px
      margin 0 auto
      display block

    .job-thumb-name
      min-height 55px
      font-size 55px

    .job-thumb-client
      min-height 24px
      font-size 24px

.edit-thumb
  width base-width
  absolute 0 45px
  z-index 2
  transition top 0.3s ease-out
  
  &.collapsed-square
    top -(base-width)
  &.collapsed-rectangle
    top -(base-width * 2)
  
  .btns-list
    static false
    text-align left

    li
      margin 0

      &:last-child
        float right

    i
      display inline-block

    .btn
      width 40px

    .icon-square
      size 12px
      border 1px solid #fff

    .icon-rectangle
      size 6px 12px
      border 1px solid #fff
