.job-details
  .job-title,
  .job-client
    max-width 1415px
    min-height 35px
    color #000
    text-align center
    font-size 35px

  .job-title
    margin 115px auto 5px auto

  .job-client
    margin 0 auto 15px auto

  .job-description
    max-width 1415px
    min-height 16px
    margin 0 auto 45px auto
    color #878787
    text-align center
    font-family 'Futura Std', sans-serif
    font-size 16px

  .edit-single,
  .edit-mult
    &:after
      margin 0 auto
      position static
      display inline-block

  .btn-add-image
    margin 0 auto 45px auto
    display block

  .job-images
    text-align center
    li
      width 100%
      position relative

      img
        max-width 100%
        margin 0 auto
        display block

      .btn-remove-image
        position absolute
        top 0
        right 55px
