.page-login
  background #674D89
  padding-top 100px
  height 100%

  .msg
    margin-top 0

  input
    background #E0BD6B
    width 100%
    max-width 300px
    margin 10px auto
    padding 10px
    display block
    border 0
    
  .btn
    width 100%
    max-width 300px
    margin 0 auto
    display block
