.page-login
  padding-top 100px

  .msg
    margin-top 0

  input
    background #eee
    width 100%
    max-width 300px
    margin 10px auto
    padding 10px
    display block
    border 1px solid #000
    
  .btn
    width 100%
    max-width 300px
    margin 0 auto
    display block