transition-props = right 0.3s ease-out

.page-container
  overflow hidden

.page
  background #fff
  width 100%
  position absolute
  top 0

.page-leave
  right 0

.page-leave.page-leave-active
  right 100%
  transition transition-props

.page-enter
  right 100%

.page-enter.page-enter-active
  right 0
  transition transition-props