doctype html
html(lang="pt")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")

    title Aldo Fabrini
    
    link(rel="stylesheet" type="text/css" href="/css/style.css")
    link(rel="icon" type="img/png" href="img/favicon.png")
    
  body
    div#app-body

    script.
      config = {
        env: '#{locals.env}'
      };
      Object.freeze(config);
    script(src="/js/bundle.js")

